{% extends 'dummy.html' %}

{% block title %}
<title>Insert</title>
{% endblock %}

{% block body_block %}
<style>

    h5
    {
        background-color: rgb(0, 255, 17);
    }
</style>

<br> <br>
<div class="container mt-3">
    <div class="row">
        {% for i in data %}
        <div class="col-md-6">
            <div class="card mb-3" style="width: 30rem; height:32rem;">
                <div class="card-header">
                    <img src="{{i.countryimage}}" class="card-img-top" alt="..." width="300px" height="300px">
                </div>
                <div class="card-body">
                    <h1> <a href="{{i.id}}"><h5 class="card-title">{{i.countryname}}</h5></a> </h1>
                    <p class="card-text">{{i.Descripition}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
   </div>
</div>
  {% endblock %}